.login-signup-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login {
  border: 2px solid darkgrey;
  padding: 10px;
}

.sign-up {
  border: 2px solid darkgray;
  padding: 10px;
}

fieldset {
  border: 0 none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-image: none;
}
