.individualMatch {
  width: 300px;
  height: 200px;
  border: 1px solid darkgray;
  color: blue;
}

.avatar-pic {
  width: 85px;
  height: 85px;
  padding: 0.3em;
}

.pet-title {
  font-weight: bold;
}
